@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0b0c;
  --foreground: #e7e7ea;
}

html,
body,
#root {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

